html, body {
    height: 100%;
}

.container {
    font-family: futura, sans-serif;
    text-align: center;
    height: 100%;
    /*   cursor: None; */
}

.content {
    height: 75%;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: auto;
    height: 20%;
}

.footer a {
    color: black;
    margin-left: 1rem;
}


.circle {
    background: #ff0000;
    width: 20rem;
    height: 20rem;
    margin: auto;
    border-radius: 100%;
    -webkit-animation:grow 12s infinite;
}

.witching {
    background: linear-gradient(#ffffce, #474a50);
}

.dawn{
    background: linear-gradient(#fc4445, #afd275);
}

.morning{
    background: linear-gradient(#b59aad, #8ee4af);
}

.late-morning{
    background: linear-gradient(#5cdb95, #edf5e1);
}

.noon{
    background: linear-gradient(#dec49f, #fefff5);
}

.afternoon {
    background: linear-gradient(#74dcbb, #c38d9e);
}

.dusk {
    background: linear-gradient(#f64c72, #99738e);
}

.late-evening {
    background: linear-gradient(#da7b93, #2e151b);
}

.night {
    background: linear-gradient(#353032, #82767c);
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale( 0 );-moz-transform: scale( 0 );-o-transform: scale( 0 );-ms-transform: scale( 0 );transform: scale( 0 );
    }

    33% {
        -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
    }

    41% {
        -webkit-transform: scale( .9 );-moz-transform: scale( .9 );-o-transform: scale( .9 );-ms-transform: scale( .9 );transform: scale( .9 );
    }

    50% {
        -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
    }

    58%{
        -webkit-transform: scale( .9 );-moz-transform: scale( .9 );-o-transform: scale( .9 );-ms-transform: scale( .9 );transform: scale( .9 );
    }

    66% {
        -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
    }

    100% {
        -webkit-transform: scale( 0 );-moz-transform: scale( 0 );-o-transform: scale( 0 );-ms-transform: scale( 0 );transform: scale( 0 );
    }
}
