@import "base.css";

.container {
    font-family: futura, sans-serif;
    text-align: center;
    height:600px;
}

.content {
    height: 65%;
}

.footer {
    align-items: flex-end;
    height: 20%;
}

.footer a i {
    margin-right: 1em;
    margin-left: 1em;
    color: #000000;
}

.circle {
    background: #f64c72;
    width: 20em;
    height: 20em;
    margin: auto;
    border-radius: 100%;
}

#breather {
    -webkit-animation: grow 16s infinite;
}

.witching {
    background: linear-gradient(#ffffce, #474a50);
}

.dawn {
    background: linear-gradient(#fc4445, #afd275);
}

.morning {
    background: linear-gradient(#b59aad, #8ee4af);
}

.late-morning {
    background: linear-gradient(#5cdb95, #edf5e1);
}

.noon {
    background: linear-gradient(#dec49f, #fefff5);
}

.afternoon {
    background: linear-gradient(#74dcbb, #c38d9e);
}

.dusk {
    background: linear-gradient(#f64c72, #99738e);
}

.late-evening {
    background: linear-gradient(#da7b93, #2e151b);
}

.night {
    background: linear-gradient(#353032, #82767c);
}

#adjust {
    display: none;
}

button {
    border: none;
    background-color: #fff;
}

button:hover,
button:focus {
    color: #474a50;
    outline: 0;
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    30% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    35% {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -o-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9);
    }

    40% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    45% {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -o-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9);
    }

    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    90% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
    .circle {
        width:10em;
        height:10em;
    }
    .content {
        height: 50%;
    }
    .footer {
        height: 25%;
    }
}
