@import "base.css";

body {
    background-color: #1d1d16;
}

.container {
    height: 100%;
}

.footer {
    align-items:flex-start;
    position:relative;
    z-index:2;
}

.footer a i {
    color: #ffffce;
    margin: 0.5rem;
    opacity: 0.3;
}
